FR24KEY=INSERT_YOUR_FR24_KEY
PLANEFINDER_SHARECODE=YOUR_PLANEFINDER_SHARECODE
FEEDER_ID=INSERT_YOUR_FEEDER_ID
LAMETRIC_IP=INSERT_LAMETRIC_IP
LAMETRIC_ACCESS_TOKEN=INSERT_LAMETRIC_ACCESS_TOKEN
LAT=LATITUDE_OF_RECEIVER
LON=LONGITUDE_OF_RECEIVER
USE_GPSD=yes
