name: Flake lock updater

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  lock-updater:
    name: Flake lock updater
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout flake
        uses: actions/checkout@v4

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@v14

      - name: Setup magic-nix-cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Update flake lock file
        uses: DeterminateSystems/update-flake-lock@v24
        with:
          pr-title: "chore: update flake lock file"
          commit-msg: "chore: update flake lock file"
